
.all-think{
 color: white;
 background-image: url(../images/banner/banner3.png);
 background-repeat: no-repeat;
 height: 800px;
 width: 1600px;
}
.link-button{
    background-color: white;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
#half-width-think{
    width: 30%;
    padding-top: 200px;
    padding-left: 900px;
}
 #half-width-think h1{
     font-weight: 700;
     font-size: 65px;
 }
 #half-width-fail{
    width: 30%;
    padding-top: 240px;
}
 .flexible-container{
    display: flex;
    justify-content:space-around;
    padding-top: 131px;
  }
  .my-fail h1{
    font-weight: 700;
     font-size: 40px;
  }
  .share{
    max-width: 25%;
    float: center;
    justify-content:space-around;

  }
  #place{
    text-align: center;
  }
  .my-plan h2{
    font-weight: 700;
    font-size: 30px;
  }
 