*{
    margin: 0px;
}
.all-think{
 color: white;
 background-color: teal;
 background-image: url(../images/banner/banner3.png);
 background-repeat: no-repeat;
 height: 800px;
 width: 1600px;
}
.link-button{
    background-color: white;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
#half-width-think{
    width: 30%;
    padding-top: 200px;
    padding-left: 900px;
}
 #half-width-think h1{
     font-weight: 700;
     font-size: 65px;
     margin-bottom: 10px;
 }
 #half-width-think p{
    margin-bottom: 10px;
}
 #half-width-fail{
    width: 30%;
    padding-top: 240px;
}
#half-width-fail p{
    margin-bottom: 10px;
}
#half-width-fail i{
    color: lightgreen;
}
 .flexible-container{
    display: flex;
    justify-content:space-around;
    padding-top: 131px;
  }
  .my-fail h1{
    font-weight: 700;
     font-size: 40px;
  }
  .share{
    max-width: 25%;
    float: center;
    justify-content:space-around;

  }
  #place{
    text-align: center;
    font-size: 40px;
  }
  .my-plan h2{
    font-weight: 700;
    font-size: 30px;
  }
  .positive{
    color: white;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
    width: 1140px;
    margin-top: 130px;
    margin-left: 400px;
    margin-right: 230px;
    margin-bottom: 130px;
}
.positive h1{
    font-weight: 700;
    font-size: 30px;
}
#positive{
    width: 30%;
    padding-top: 59px;
    padding-left: 64px;
}
#positive h1{
    margin-bottom: 10px;
}
footer{
    background-color: black;
    color: white;
}
.flexible-container-footer{
    display: flex;
    justify-content:space-around;
    padding-left: 200px;
    padding-top: 130px;
    padding-bottom: 130px;
}
.half{
    width: 30%;
}
.half input{
    height: 50px;
    width: 270px;
    border-radius: 10px;
}
#submit-btn{
    margin-top: 10px;
    color: white;
    background-color:#005FAC;
    height: 34px;
    width: 70px;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    border-radius: 8px;
}